### <span style="font-size: 16.38px;"><b>Product Analysis</b></span>

List of all products with their prices and categories

In [ ]:
SELECT 
    p.ProductID,
    p.Name AS ProductName,
    pc.Name AS CategoryName,
    p.ListPrice
FROM
    SalesLT.Product p
LEFT JOIN
    SalesLT.ProductCategory pc ON p.ProductCategoryID = pc.ProductCategoryID;

Products sorted by price in descending order

In [ ]:
SELECT 
    ProductID,
    Name,
    ListPrice
FROM
    SalesLT.Product
ORDER BY
    ListPrice DESC;

Average product price in each category

In [ ]:
SELECT 
    pc.Name AS CategoryName,
    AVG(p.ListPrice) AS AvgPrice
FROM
    SalesLT.Product p
JOIN
    SalesLT.ProductCategory pc ON p.ProductCategoryID = pc.ProductCategoryID
GROUP BY
    pc.Name;

Products that havenâ€™t been sold in the past month

In [ ]:
SELECT 
    p.ProductID,
    p.Name
FROM SalesLT.Product p
WHERE p.ProductID NOT IN (
    SELECT DISTINCT sod.ProductID
    FROM SalesLT.SalesOrderDetail sod
    JOIN SalesLT.SalesOrderHeader soh ON sod.SalesOrderID = soh.SalesOrderID
    WHERE soh.OrderDate >= DATEADD(MONTH, -1, GETDATE())
);

Top 5 most expensive products

In [ ]:
SELECT TOP 5 
    ProductID,
    Name,
    ListPrice
FROM SalesLT.Product
ORDER BY ListPrice DESC;